In [1]:
# 4.1.Write a program to create a Python dictionary with keys name, score, attempts and qualify as column names and values as lists containing exam data. Display a dataframe.

import pandas as pd
import numpy as np

# Exam data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

# Labels
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame
df = pd.DataFrame(exam_data)
df.index = range(1, len(df) + 1)
# Display DataFrame
print(df)

         name  score  attempts qualify
1   Anastasia   12.5         1     yes
2        Dima    9.0         3      no
3   Katherine   16.5         2     yes
4       James    NaN         3      no
5       Emily    9.0         2      no
6     Michael   20.0         3     yes
7     Matthew   14.5         1     yes
8       Laura    NaN         1      no
9       Kevin    8.0         2      no
10      Jonas   19.0         1     yes

In [2]:
""" Try
4.1.1. Write a program to create a Python 2D array as input to your dataframe. Display the dataframe."""

# 2D array
data_2d = [
    ['Anastasia', 12.5, 1, 'yes'],
    ['Dima', 9, 3, 'no'],
    ['Katherine', 16.5, 2, 'yes'],
    ['James', np.nan, 3, 'no'],
    ['Emily', 9, 2, 'no'],
    ['Michael', 20, 3, 'yes'],
    ['Matthew', 14.5, 1, 'yes'],
    ['Laura', np.nan, 1, 'no'],
    ['Kevin', 8, 2, 'no'],
    ['Jonas', 19, 1, 'yes']
]

# Labels
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame
df_2d = pd.DataFrame(data_2d, index=labels, columns=['name', 'score', 'attempts', 'qualify'])

# Display DataFrame
print("DataFrame from 2D array:")
print(df_2d)
print()

DataFrame from 2D array:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [3]:
"""4.1.2. Write a program to create a Python series as input to your dataframe. Display the dataframe."""

import pandas as pd

# Series
series_data = pd.Series({
    'name': 'Anastasia',
    'score': 12.5,
    'attempts': 1,
    'qualify': 'yes'
}, name='a')

# Create DataFrame
df_series = pd.DataFrame(series_data).T

# Display DataFrame
print("DataFrame from Series:")
print(df_series)
print()

DataFrame from Series:
        name score attempts qualify
a  Anastasia  12.5        1     yes

In [4]:
"""4.1.3. Write a program to create a Python dataframe as input to your dataframe. Display the dataframe."""

# Existing DataFrame
existing_df = pd.DataFrame({
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

# Display DataFrame
print("Existing DataFrame:")
print(existing_df)
print()

Existing DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [5]:
""" 4.1.4 Write a program to create a Python list as input to your dataframe. Display the dataframe."""
# List of dictionaries
list_data = [
    {'name': 'Anastasia', 'score': 12.5, 'attempts': 1, 'qualify': 'yes'},
    {'name': 'Dima', 'score': 9, 'attempts': 3, 'qualify': 'no'},
    {'name': 'Katherine', 'score': 16.5, 'attempts': 2, 'qualify': 'yes'},
    {'name': 'James', 'score': np.nan, 'attempts': 3, 'qualify': 'no'},
    {'name': 'Emily', 'score': 9, 'attempts': 2, 'qualify': 'no'},
    {'name': 'Michael', 'score': 20, 'attempts': 3, 'qualify': 'yes'},
    {'name': 'Matthew', 'score': 14.5, 'attempts': 1, 'qualify': 'yes'},
    {'name': 'Laura', 'score': np.nan, 'attempts': 1, 'qualify': 'no'},
    {'name': 'Kevin', 'score': 8, 'attempts': 2, 'qualify': 'no'},
    {'name': 'Jonas', 'score': 19, 'attempts': 1, 'qualify': 'yes'}
]

# Create DataFrame
df_list = pd.DataFrame(list_data, index=labels)

# Display DataFrame
print("DataFrame from list:")
print(df_list)
print()

DataFrame from list:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [6]:
""" 4.1.5. Write a program to create a Python tuple as input to your dataframe. Display the dataframe."""

# Tuple of lists
tuple_data = (
    ['Anastasia', 12.5, 1, 'yes'],
    ['Dima', 9, 3, 'no'],
    ['Katherine', 16.5, 2, 'yes'],
    ['James', np.nan, 3, 'no'],
    ['Emily', 9, 2, 'no'],
    ['Michael', 20, 3, 'yes'],
    ['Matthew', 14.5, 1, 'yes'],
    ['Laura', np.nan, 1, 'no'],
    ['Kevin', 8, 2, 'no'],
    ['Jonas', 19, 1, 'yes']
)

# Create DataFrame
df_tuple = pd.DataFrame(tuple_data, index=labels, columns=['name', 'score', 'attempts', 'qualify'])

# Display DataFrame
print("DataFrame from tuple:")
print(df_tuple)
print()

DataFrame from tuple:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [7]:
"""4.2. SORTING"""
import pandas as pd

# Example dataset as a dictionary
data = {
    'make': ['Toyota', 'Ford', 'Chevrolet', 'Nissan', 'Mercedes-Benz', 'Audi', 'BMW', 'Honda', 'Hyundai', 'Volkswagen'],
    'model': ['Camry', 'F-150', 'Silverado', 'Altima', 'C-Class', 'A4', '3 Series', 'Civic', 'Elantra', 'Jetta'],
    'year': [2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022]
}

# Create DataFrame from dictionary
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)
print()

# Sort the DataFrame based on the 'make' column with a maximum length of 50 characters
df_sorted = df.sort_values(by='model', key=lambda x: x.str[:50])

# Display the sorted DataFrame
print("DataFrame sorted by 'make' (up to 50 characters):")
print(df_sorted)

Original DataFrame:
            make      model  year
0         Toyota      Camry  2022
1           Ford      F-150  2022
2      Chevrolet  Silverado  2022
3         Nissan     Altima  2022
4  Mercedes-Benz    C-Class  2022
5           Audi         A4  2022
6            BMW   3 Series  2022
7          Honda      Civic  2022
8        Hyundai    Elantra  2022
9     Volkswagen      Jetta  2022

DataFrame sorted by 'make' (up to 50 characters):
            make      model  year
6            BMW   3 Series  2022
5           Audi         A4  2022
3         Nissan     Altima  2022
4  Mercedes-Benz    C-Class  2022
0         Toyota      Camry  2022
7          Honda      Civic  2022
8        Hyundai    Elantra  2022
1           Ford      F-150  2022
9     Volkswagen      Jetta  2022
2      Chevrolet  Silverado  2022

In [12]:
"""4.2.0 Write a program to sort a dataframe based on the column ‘category’ from the dataset
shopping_trends.csv available on https://www.kaggle.com/datasets/iamsouravbanerjee/customer-
shopping-trends-dataset."""

import pandas as pd

# File path
file_path = r"C:\Users\sai raj\OneDrive\Desktop\Week4\shopping_trends_updated.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the original DataFrame
print("Original DataFrame:")
print(df)
print()

# Sort the DataFrame based on the 'category' column
df_sorted = df.sort_values(by='Category')

# Display the sorted DataFrame
print("DataFrame sorted by 'category':")
print(df_sorted)

Original DataFrame:
      Customer ID  Age  Gender Item Purchased     Category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      Review Rating Subscription Status   Shipping Type Discount Applied  \
0               3.1                 Yes         Express              Yes
1               3.1                 Yes         Express              Yes
2               3.1                 Yes   Free Shipping              Yes
3               3.5                 Yes    Next Day Air              Yes
4               2.7                 Yes   Free Shipping              Yes
...             ...                 ...             ...              ...
3895            4.2                  No  2-Day Shipping               No
3896            4.5                  No    Store Pickup               No
3897            2.9                  No        Standard               No
3898            3.8                  No         Express               No
3899            3.1                  No    Store Pickup               No

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
0                Yes                  14          Venmo            Fortnightly
1                Yes                   2           Cash            Fortnightly
2                Yes                  23    Credit Card                 Weekly
3                Yes                  49         PayPal                 Weekly
4                Yes                  31         PayPal               Annually
...              ...                 ...            ...                    ...
3895              No                  32          Venmo                 Weekly
3896              No                  41  Bank Transfer              Bi-Weekly
3897              No                  24          Venmo              Quarterly
3898              No                  24          Venmo                 Weekly
3899              No                  33          Venmo              Quarterly

[3900 rows x 18 columns]

DataFrame sorted by 'category':
      Customer ID  Age  Gender Item Purchased     Category  \
3899         3900   52  Female        Handbag  Accessories
1205         1206   52    Male        Handbag  Accessories
1204         1205   67    Male           Belt  Accessories
2832         2833   29  Female          Scarf  Accessories
1202         1203   48    Male          Scarf  Accessories
...           ...  ...     ...            ...          ...
838           839   33    Male           Coat    Outerwear
2537         2538   44    Male           Coat    Outerwear
1665         1666   40    Male         Jacket    Outerwear
2547         2548   47    Male         Jacket    Outerwear
3692         3693   59  Female           Coat    Outerwear

      Purchase Amount (USD)     Location Size      Color  Season  \
3899                     81   California    M      Beige  Spring
1205                     99   California    M      Olive  Spring
1204                     94      Florida    M       Pink  Spring
2832                     37     Maryland    M    Magenta  Summer
1202                     29     Maryland    S      Olive  Spring
...                     ...          ...  ...        ...     ...
838                      29     Kentucky    M       Gray  Spring
2537                     49        Maine    M     Purple  Summer
1665                     41   New Mexico    L       Pink    Fall
2547                     97  Mississippi    M      Beige  Summer
3692                     34      Alabama    L  Turquoise  Spring

      Review Rating Subscription Status   Shipping Type Discount Applied  \
3899            3.1                  No    Store Pickup               No
1205            3.5                  No        Standard              Yes
1204            3.2                  No  2-Day Shipping              Yes
2832            4.6                  No        Standard               No
1202            2.9                  No        Standard              Yes
...             ...                 ...             ...              ...
838             4.3                 Yes         Express              Yes
2537            4.1                  No  2-Day Shipping               No
1665            3.4                  No    Next Day Air              Yes
2547            3.2                  No  2-Day Shipping               No
3692            4.8                  No   Free Shipping               No

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
3899              No                  33          Venmo              Quarterly
1205             Yes                  38  Bank Transfer            Fortnightly
1204             Yes                  20    Credit Card         Every 3 Months
2832              No                  40         PayPal              Quarterly
1202             Yes                  14          Venmo         Every 3 Months
...              ...                 ...            ...                    ...
838              Yes                  49    Credit Card               Annually
2537              No                  30         PayPal            Fortnightly
1665             Yes                  49          Venmo                Monthly
2547              No                  16           Cash                 Weekly
3692              No                  29           Cash            Fortnightly

[3900 rows x 18 columns]

In [13]:
"""4.2.1. Write a program to rearrange the columns from the given order in the dataframe."""

import pandas as pd

# Sample DataFrame
data = {
    'A': [1, 2, 3],
    'B': ['x', 'y', 'z'],
    'C': [4.0, 5.0, 6.0]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Rearrange columns
new_order = ['B', 'C', 'A']
df_rearranged = df[new_order]

# Display rearranged DataFrame
print("DataFrame with columns rearranged:")
print(df_rearranged)

Original DataFrame:
   A  B    C
0  1  x  4.0
1  2  y  5.0
2  3  z  6.0

DataFrame with columns rearranged:
   B    C  A
0  x  4.0  1
1  y  5.0  2
2  z  6.0  3

In [14]:
"""4.2.2. Write a program to obtain alternate rows from a dataframe."""
import pandas as pd

# Sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [6.0, 7.0, 8.0, 9.0, 10.0]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Obtain alternate rows
df_alternate_rows = df.iloc[::2]

# Display DataFrame with alternate rows
print("DataFrame with alternate rows:")
print(df_alternate_rows)

Original DataFrame:
   A  B     C
0  1  a   6.0
1  2  b   7.0
2  3  c   8.0
3  4  d   9.0
4  5  e  10.0

DataFrame with alternate rows:
   A  B     C
0  1  a   6.0
2  3  c   8.0
4  5  e  10.0

In [15]:
"""4.2.3. Write a program to obtain alternate rows from a dataframe."""
import pandas as pd

# Sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [6.0, 7.0, 8.0, 9.0, 10.0]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Obtain alternate rows
df_alternate_rows = df[df.index % 2 == 0]

# Display DataFrame with alternate rows
print("DataFrame with alternate rows:")
print(df_alternate_rows)

Original DataFrame:
   A  B     C
0  1  a   6.0
1  2  b   7.0
2  3  c   8.0
3  4  d   9.0
4  5  e  10.0

DataFrame with alternate rows:
   A  B     C
0  1  a   6.0
2  3  c   8.0
4  5  e  10.0

In [16]:
"""4.2.4. Write a program to obtain a new dataframe to the existing dataframe, To apply function to every cell of
dataframe."""

import pandas as pd

# Sample DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Define a function to apply to each cell
def square_cell(value):
    return value ** 2

# Apply the function to every cell in the DataFrame
df_squared = df.applymap(square_cell)

# Display DataFrame with squared values
print("DataFrame with squared values:")
print(df_squared)

Original DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

DataFrame with squared values:
   A   B   C
0  1  16  49
1  4  25  64
2  9  36  81

C:\Users\sai raj\AppData\Local\Temp\ipykernel_5492\4020701105.py:25: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_squared = df.applymap(square_cell)

In [17]:
"""4.3. Write a program to filter the rows from the above dataframe."""
import pandas as pd

# Sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [6.0, 7.0, 8.0, 9.0, 10.0]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Filter rows based on a condition (e.g., values in column 'A' greater than 2)
condition = df['A'] > 2
df_filtered = df[condition]

# Display DataFrame after filtering
print("DataFrame after filtering:")
print(df_filtered)

Original DataFrame:
   A  B     C
0  1  a   6.0
1  2  b   7.0
2  3  c   8.0
3  4  d   9.0
4  5  e  10.0

DataFrame after filtering:
   A  B     C
2  3  c   8.0
3  4  d   9.0
4  5  e  10.0

In [18]:
"""4.3.1. Write a program to add a new column ‘Customer Type’ on the above dataframe."""

import pandas as pd

# Sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [6.0, 7.0, 8.0, 9.0, 10.0]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Add a new column 'Customer Type'
df['Customer Type'] = ['Premium', 'Regular', 'Premium', 'Regular', 'Premium']

# Display DataFrame with the new column
print("DataFrame with 'Customer Type' column added:")
print(df)

Original DataFrame:
   A  B     C
0  1  a   6.0
1  2  b   7.0
2  3  c   8.0
3  4  d   9.0
4  5  e  10.0

DataFrame with 'Customer Type' column added:
   A  B     C Customer Type
0  1  a   6.0       Premium
1  2  b   7.0       Regular
2  3  c   8.0       Premium
3  4  d   9.0       Regular
4  5  e  10.0       Premium

In [19]:
"""4.3.2. Write a program to remove a column ‘Customer Type’ on the above dataframe."""

import pandas as pd

# Sample DataFrame with 'Customer Type' column added
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [6.0, 7.0, 8.0, 9.0, 10.0],
    'Customer Type': ['Premium', 'Regular', 'Premium', 'Regular', 'Premium']
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Remove the 'Customer Type' column
df = df.drop('Customer Type', axis=1)

# Display DataFrame after removing the 'Customer Type' column
print("DataFrame after removing 'Customer Type' column:")
print(df)

Original DataFrame:
   A  B     C Customer Type
0  1  a   6.0       Premium
1  2  b   7.0       Regular
2  3  c   8.0       Premium
3  4  d   9.0       Regular
4  5  e  10.0       Premium

DataFrame after removing 'Customer Type' column:
   A  B     C
0  1  a   6.0
1  2  b   7.0
2  3  c   8.0
3  4  d   9.0
4  5  e  10.0

In [20]:
""" 4.4. Write a program for performing aggregation by grouping by a column ‘Frequency of Purchases&#39; and
calculate sum and mean of ‘Review Rating&#39; column from the above dataframe."""

import pandas as pd

# Sample DataFrame
data = {
    'Frequency of Purchases': ['High', 'Low', 'Medium', 'High', 'Medium', 'Low', 'High', 'Medium', 'Low', 'High'],
    'Review Rating': [4, 3, 5, 4, 2, 3, 5, 4, 2, 5]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Group by 'Frequency of Purchases' and calculate sum and mean of 'Review Rating'
aggregated_df = df.groupby('Frequency of Purchases')['Review Rating'].agg(['sum', 'mean'])

# Display the aggregated DataFrame
print("Aggregated DataFrame:")
print(aggregated_df)

Original DataFrame:
  Frequency of Purchases  Review Rating
0                   High              4
1                    Low              3
2                 Medium              5
3                   High              4
4                 Medium              2
5                    Low              3
6                   High              5
7                 Medium              4
8                    Low              2
9                   High              5

Aggregated DataFrame:
                        sum      mean
Frequency of Purchases
High                     18  4.500000
Low                       8  2.666667
Medium                   11  3.666667

In [21]:
"""4.4. 1. Write a program for performing aggregation by grouping by a column ‘Frequency of Purchases&#39; and
calculate count, min and max of ‘Review Rating&#39; column from the above dataframe."""

import pandas as pd

# Sample DataFrame
data = {
    'Frequency of Purchases': ['High', 'Low', 'Medium', 'High', 'Medium', 'Low', 'High', 'Medium', 'Low', 'High'],
    'Review Rating': [4, 3, 5, 4, 2, 3, 5, 4, 2, 5]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Group by 'Frequency of Purchases' and calculate count, min, and max of 'Review Rating'
aggregated_df = df.groupby('Frequency of Purchases')['Review Rating'].agg(['count', 'min', 'max'])

# Display the aggregated DataFrame
print("Aggregated DataFrame:")
print(aggregated_df)

Original DataFrame:
  Frequency of Purchases  Review Rating
0                   High              4
1                    Low              3
2                 Medium              5
3                   High              4
4                 Medium              2
5                    Low              3
6                   High              5
7                 Medium              4
8                    Low              2
9                   High              5

Aggregated DataFrame:
                        count  min  max
Frequency of Purchases
High                        4    4    5
Low                         3    2    3
Medium                      3    2    5

In [22]:
"""4.4.2. Write a program for performing aggregation by grouping by a column ‘Subscription Status’ and
calculate sum and mean of ‘Purchase Amount (USD)’ column from the above dataframe."""

# Sample DataFrame
data = {
    'Subscription Status': ['Active', 'Inactive', 'Active', 'Inactive', 'Active', 'Inactive'],
    'Purchase Amount (USD)': [50.0, 30.0, 40.0, 25.0, 60.0, 35.0]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Group by 'Subscription Status' and calculate sum and mean of 'Purchase Amount (USD)'
aggregated_df = df.groupby('Subscription Status')['Purchase Amount (USD)'].agg(['sum', 'mean'])

# Display the aggregated DataFrame
print("Aggregated DataFrame:")
print(aggregated_df)

Original DataFrame:
  Subscription Status  Purchase Amount (USD)
0              Active                   50.0
1            Inactive                   30.0
2              Active                   40.0
3            Inactive                   25.0
4              Active                   60.0
5            Inactive                   35.0

Aggregated DataFrame:
                       sum  mean
Subscription Status
Active               150.0  50.0
Inactive              90.0  30.0

In [23]:
"""4.4.3. Write a program for performing aggregation by grouping by a column ‘Subscription Status’ and
calculate count, min and max of ‘Purchase Amount (USD)’ column from the above dataframe."""

# Sample DataFrame
data = {
    'Subscription Status': ['Active', 'Inactive', 'Active', 'Inactive', 'Active', 'Inactive'],
    'Purchase Amount (USD)': [50.0, 30.0, 40.0, 25.0, 60.0, 35.0]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)
print()

# Group by 'Subscription Status' and calculate count, min, and max of 'Purchase Amount (USD)'
aggregated_df = df.groupby('Subscription Status')['Purchase Amount (USD)'].agg(['count', 'min', 'max'])

# Display the aggregated DataFrame
print("Aggregated DataFrame:")
print(aggregated_df)

Original DataFrame:
  Subscription Status  Purchase Amount (USD)
0              Active                   50.0
1            Inactive                   30.0
2              Active                   40.0
3            Inactive                   25.0
4              Active                   60.0
5            Inactive                   35.0

Aggregated DataFrame:
                     count   min   max
Subscription Status
Active                   3  40.0  60.0
Inactive                 3  25.0  35.0